<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course:</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="leacture-pg">
    <nav class="leacture-pg-nav">
      <div class="leacture-pg-left-nav">
        <div class="brand-logo">
          <a href="/courses">
            <img src="/assets/l-favicon.svg" alt="" />
          </a>
        </div>
        <p class="pipe-line">|</p>
        <p class="course-title"><%= course.title %></p>
      </div>
      <div class="leacture-pg-right-nav">
        <div class="progress">
          <div class="img"></div>
          <select class="progress-dropdown">
            <option value="value">Your progress</option>
          </select>
        </div>
        <button class="btn btn2">Share</button>
        <button class="btn btn2 more-option">
          <img src="/assets/more-option.svg" alt="" />
          <!-- <ul>
            <li>side-bar</li>
          </ul> -->
        </button>
      </div>
    </nav>
    <main>
      <section class="main-leacture-content">
        <div class="play-screen">
          <img src="<%= course.image %>" alt="" />
          <img
            src="/assets/maximizing-side-bar-icon.svg"
            class="side-bar-maximiza-icon"
          />
        </div>
        <div class="video-settings">
          <img src="/assets/gear-icon.svg" alt="maximiza-screen-icon" />
          <img
            src="/assets/minimize-screen-icon.svg"
            alt="minimize-screen-icon"
            class="minimize-screen-icon"
          />
          <img
            src="/assets/maximiza-screen-icon.svg"
            alt="maximize-screen-icon"
            class="maximize-screen-icon"
          />
        </div>
        <div class="social-bar">
          <img src="/assets/search-icon.svg" alt="search-icon" />
          <a href="#" class="first-social-icon"><strong>Overview</strong></a>
          <a href="#"><strong>Q&A</strong></a>
          <a href="#"><strong>Notes</strong></a>
          <a href="#"><strong>Announcements</strong></a>
          <a href="#"><strong>Reviews</strong></a>
          <a href="#"><strong>Learning tools</strong></a>
        </div>
        <p class="course-description"><%= course.description %></p>
        <div class="addictional-course-info">
          <p>
            <strong>3.8 <span>&starf;</span></strong>
          </p>
          <p>
            <strong>21,012</strong>
          </p>
          <p>
            <strong>1 hour</strong>
          </p>
        </div>
        <div class="published-date">
          <img
            src="/assets/course-publish-icon.svg"
            alt="course-publish-icon"
          />
          <p><%= course.publishDate %></p>
        </div>

        <div class="schedule-learning closing-banner">
          <div class="clck">
            <img src="/assets/clock.svg" alt="" />
          </div>
          <div class="message">
            <h3>Schedule learning time</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
              perferendis et ducimus molestias soluta veniam repellat quos,
              officiis, fuga, illo quibusdam enim voluptatum voluptate. Non
              distinctio accusamus ipsa eum minus.
            </p>
            <button class="btn btn1 schedule-btn">
              <strong>Get started</strong>
            </button>
            <button class="btn btn2 schedule-btn closing-banner-btn">
              <strong>Dismiss</strong>
            </button>
          </div>
        </div>

        <div class="course-content-details">
          <p><strong>By the number</strong></p>
          <div class="skill-detail">
            <p>Skill level: Beginner Level</p>
            <p>Students: 12,015</p>
            <p>Languages: English</p>
            <p>Caption: Yes</p>
          </div>
          <div class="content-detail">
            <p>Leactures</p>
            <p>Video: 1 total hour</p>
          </div>
        </div>

        <div class="certification">
          <p><strong>Certification</strong></p>
          <div class="download-option">
            <p>Get Future Academy certification by completing entire course</p>
            <button class="btn certification-download-btn">
              <strong>FA certifiacte</strong>
            </button>
          </div>
        </div>
      </section>
      <article class="leactures-info-bar">
        <div class="title-bar">
          <h3>Course content</h3>
          <img
            src="/assets/alert-cross.svg"
            alt="cross-icon"
            class="learning-content-bar-cross"
          />
        </div>
        <select class="leactures-info-bar-dropdown">
          <option value="value">Your progress</option>
        </select>
        <select class="leactures-info-bar-dropdown">
          <option value="value">Your progress</option>
        </select>
        <select class="leactures-info-bar-dropdown">
          <option value="value">Your progress</option>
        </select>
      </article>
    </main>

    <%- include('../includes/footer.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
